<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" href="/tabs/home">
      <i class="fas fa-home"></i>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="expenses" href="/tabs/expenses">
      <i class="fas fa-wallet"></i>
      <ion-label>Wallets</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="reports" href="/tabs/reports">
      <i class="fas fa-list"></i>
      <ion-label>Transactions</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings" href="/tabs/settings">
      <i class="fas fa-cog"></i>
      <ion-label>Settings</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
